.dashboard-container {
    // border: 1px solid;
    height: 92.8%;

    mat-drawer-container {
        height: 100%;

        mat-drawer {
            width: 10rem;
            // padding: 1rem;
        }

        mat-drawer-content {
            padding: 1rem;
        }

        button {
            width: 300px;
            margin-top: 1rem;
        }

        mat-list {
            width: 300px;
        }
    }
}