<!-- <div class="dashboard-container">
    <mat-drawer-container>
        <mat-drawer mode="side" opened>
            <mat-nav-list>
                <a mat-list-item routerLink="/link1">Home</a>
                <a mat-list-item routerLink="/link1">View</a>
                <a mat-list-item routerLink="/link1">About</a>
                <a mat-list-item routerLink="/link1">Contact</a>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <h2>List of People</h2> -->

            <!-- <mat-list role="list" class="mat-elevation-z8">
                <ng-container *ngFor="let name of names; let i = index">
                    <mat-list-item> {{ name + ' ' + (i + 1)  }} </mat-list-item>
                </ng-container>
            </mat-list> -->

            <!-- <mat-list role="list" class="mat-elevation-z8">
                <ng-template ngFor let-name [ngForOf]="names" let-i= index>
                    <mat-list-item> {{ name + ' ' + (i + 1)  }} </mat-list-item>
                </ng-template>
            </mat-list>

            <button mat-flat-button color="primary" (click)="save()">Save</button> -->

            <!-- <div [ngSwitch]="case">
                <p *ngSwitchCase="'r1'">Roshan</p>
                <p *ngSwitchCase="'o'">Omkar</p>
                <p *ngSwitchCase="'h'">Harsh</p>
                <p *ngSwitchCase="'r2'">Raj</p>
            </div> -->

            <!-- <div [ngSwitch]="case">
                <p *ngSwitchCase="1">Roshan</p>
                <p *ngSwitchCase="2">Omkar</p>
                <p *ngSwitchCase="3">Harsh</p>
                <p *ngSwitchCase="4">Raj</p>
            </div> -->

            <!-- app.component.html -->
            <!-- <input #myInput type="text" placeholder="Enter name">
            <button (click)="showValue()">Show Input Value</button>

            <br><br>

            <input #inputEl type="text" placeholder="First">
            <input #inputEl type="text" placeholder="Middle">
            <input #inputEl type="text" placeholder="Last">

            <br><br>

            <ng-template #greetTemplate>
                <h2>Hello, Angular Learner!</h2>
            </ng-template>

            <br>

            <ng-container *ngTemplateOutlet="greetTemplate"></ng-container>

            <ng-template #userTemplate let-name="userName">
                <p>Welcome, {{ name }}!</p>
            </ng-template>

            <ng-container *ngTemplateOutlet="userTemplate; context: { userName: 'Roshan' }"></ng-container>

            <br>

            <ng-container *ngIf="isAdmin; else userBlock">
                <p>Welcome, Admin!</p>
            </ng-container>

            <ng-template #userBlock>
                <p>Welcome, User!</p>
            </ng-template>

            

        </mat-drawer-content>
    </mat-drawer-container>
</div> -->

<button mat-flat-button color="primary" (click)="subscribe()">Header Subscribe Component</button>
<br><br>
<button mat-flat-button color="primary" (click)="addUser()">Add User</button>

<br>
<br>

<button mat-flat-button color="primary" (click)="getData()">Get Data</button>

<ng-container *ngFor="let d of data">
    <div>{{ d }}</div>
</ng-container>

<!-- <ng-template ngFor let-d [ngForOf]="data">
    <div>{{d}}</div>
</ng-template>
<ng-template *ngFor="let d of data">
    <div>{{d}}</div>
</ng-template> -->

