<!-- <div style="padding: 1rem;">
    <ng-content select="#heading"></ng-content>
    <p>App Child Component Para</p>
    <ng-content select=".btn"></ng-content>
</div> -->

<div class="card">
  <header>
    <ng-content select="[card-header]"></ng-content>
  </header>

  <section>
    <ng-content></ng-content> 
  </section>

  <footer>
    <ng-content select="[card-footer]"></ng-content>
  </footer>

  <button (click)="getProjectedContent()">Show Content</button>

  <h2 #h2Heading appBackground>Heading 2 {{name}}</h2>
  <button (click)="name = 'Raj'">Change View</button>
</div>

<br>
<p [appBackground]="'lightgreen'">Hover me for light green</p>
<p appBackground="pink">Hover me for pink</p>
<p appBackground>Hover me for default blue</p>

<!-- <p appHighlight>Hover me</p> -->
<!-- <p [appHighlight]="'red'" [customeInput]="''">Hover me</p> -->
<!-- <button [appDisabled]="false">Click</button> -->

<p [appClass]="{ 'app-backgrond': true, 'app-border': false, 'app-font': 5 > 4, 'app-padding': true }">Custom class directive object way</p>

<p [appClass]="5 > 4 ? 'app-backgrond' : ''">Custom class directive string way</p>

<p [appStyle]="{ 'backgroundColor': 'blue', 'padding': 5 > 2 ? '1rem' : '', 'color': 'white' }">Custom style directive string way</p>


<br>

