<!-- <div style="padding: 1rem;">
    <ng-content select="#heading"></ng-content>
    <p>App Child Component Para</p>
    <ng-content select=".btn"></ng-content>
</div> -->

<div class="card">
  <header>
    <ng-content select="[card-header]"></ng-content>
  </header>

  <section>
    <ng-content></ng-content> 
  </section>

  <footer>
    <ng-content select="[card-footer]"></ng-content>
  </footer>

  <button (click)="getProjectedContent()">Show Content</button>

  <h2 #h2Heading>Heading 2 {{name}}</h2>
  <button (click)="name = 'Raj'">Change View</button>
</div>
