<app-header [title]="title" (toggleSidenav)="onToggle($event)" #appHeader></app-header>
<br>
<br>
<!-- <button mat-stroked-button color="primary" (click)="appHeader.testMeth()">Click</button> -->
<!-- <div app-header></div>  -->
<!-- <div class="app-header"></div>  -->
<!-- <app-test-child [message]="message" [list]="list"> -->
<!-- <app-test-child [list]="list"> -->
<!-- <app-test-child> -->
    <!-- <h2 id="heading" style="font-family: 'Courier New', Courier, monospace;">Heading App Child</h2>
    <button mat-stroked-button color="primary" (click)="appHeader.testMeth()" class="btn">Click</button> -->

  <!-- <div card-header>🌟 My Custom Header</div>
  <p #para>This is the main content {{ message }}.</p>
  <p #para>This is the main content 2.</p>
  <div card-footer>© 2025 Footer here</div> -->
<!-- </app-test-child> -->

<!-- <button>Button Parent</button> -->

<!-- <br> -->

<!-- <button (click)="changeMsg()">Change Message</button> -->
<router-outlet></router-outlet>